.formContainer {
  width: 26.25rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem 1.81rem;
}

.header {
  margin-bottom: 27px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.forgotPass {
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 48px;

  &:hover,
  &:focus-visible {
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-500);
  }
}

.haveAccount {
  cursor: pointer;
  align-self: center;
  color: var(--color-light-900);
}

.signIn {
  cursor: pointer;

  align-self: center;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}
