.ProfileInfoContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6px 6px 12px;
}

.profileTextInfo {
  display: flex;
  flex-direction: column;
}

.userNameTitle {
  margin: 0;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
}

.userEmailTitle {
  margin: 0;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  color: var(--color-dark-100);
}
