.forgotPassContainer {
  display: flex;
  flex-direction: column;

  width: 26.25rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem 1.81rem;
}

.header {
  margin-bottom: 27px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .info {
    line-height: 25px;
    color: var(--color-dark-100);
  }

  .rememberPass {
    cursor: pointer;
    align-self: center;
  }

  .loggingIn {
    cursor: pointer;
    align-self: center;
    font-size: var(--font-size-m);
    color: var(--color-accent-500);
  }
}
